* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: sans-serif;
}

.main {
  margin-top: 3rem;
  width: calc(100% - 250px);
  min-height: 100dvh;
  background-color: aliceblue;
  padding: 2rem;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.item {
  flex-basis: calc(33% - 0.666666rem);
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: white;
  border: 2px solid rebeccapurple;
  border-radius: 1.5rem;
  font-size: 1.25rem;
}

.item-details {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.item img {
  height: 200px;
  object-fit: contain;
}

.button {
  background-color: rebeccapurple;
  border-radius: 100vh;
  color: aliceblue;
  border: 0;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.cart {
  position: fixed;
  top: 3rem;
  right: 0;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  align-items: baseline;
  border: 2px solid rebeccapurple;
  border-top: 0;
  height: calc(100dvh - 3rem);
  width: 250px;
  overflow-y: scroll;
  background-color: white;
  overflow-x: hidden;
}

.cart-items {
  display: grid;
  gap: 1rem;
}

.cart-item {
  width: 200px;
  height: 200px;
  display: grid;
  gap: 0.5rem;
  padding: 0.75rem;
  border: 2px solid rebeccapurple;
  border-radius: 1.5rem;
}

.cart-item img {
  object-fit: contain;
  max-height: 100px;
  margin-inline: auto;
}

.cart-item .button {
  font-size: 0.75rem;
  padding: 0.375rem 1.125rem;
  height: 2rem;
}

.cart-total {
  margin-top: auto;
}

nav {
  background-color: rebeccapurple;
  color: white;
  padding: 1rem;
  height: 3rem;
  position: fixed;
  inset: 0 0 auto 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav a {
  color: white;
}
